
CodeToRun_local.R
.Rhistory
errorReportSql.txt
Output/IR.summary_SIDIAP_h.RData
Output/Patient.characteristcis_SIDIAP_h.RData
.Rproj.user
Output/IR.summary_CPRD.RData
Output/Patient.characteristcis.for.plotting_SIDIAP_h.RData
Output/Patient.characteristcis_CPRD.RData
Output/Patient.characteristcis_SIDIAP.RData
Output/Patient.characteristcis.for.plotting_CPRD.RData
Output/IR.summary_SIDIAP.RData
Output/Patient.characteristcis.for.plotting_SIDIAP.RData
Output/desktop.ini
Output/IR.summary_TEST_SIDIAP.RData
Output/OutputToShare_TEST_SIDIAP.zip
Output/Patient.characteristcis.for.plotting_TEST_SIDIAP.RData
Output/Patient.characteristcis_TEST_SIDIAP.RData
Output_old/*
Output/OutputToShare_SIDIAP.zip
Output/OutputToShare_SIDIAP_H.zip
